@import "../chameleon-neutral/styles.css";

.v-slot-worker {
    float:              left;
}

.v-gridlayout-worker {
    background-color:   rgb(220,220,220);
    background-color:   rgba(220,220,220,.85);
    margin:             8px 0px 0px 8px;
    padding:            4px;
    color:              black;
    text-shadow:        none;
    border:             1px solid black;
    border-radius:      8px;
    box-shadow: 3px 3px 5px #666666;
}

.v-gridlayout-worker .v-label {
    margin-top: 4px;
    text-align:         left;
    padding:            4px;
    text-shadow:        none;
    font-size: 15px;
    font-weight: bold;
}

.v-gridlayout-worker .v-image {
    border: 1px solid;
    border-radius: 8px 8px 8px 8px;
    padding: 2px;
}

.v-gridlayout-worker .v-label-available {
    font-weight:        900;
    text-shadow:        none;
    border-radius:      8px;
    background: #a4b357; /* Old browsers */
    background: -moz-linear-gradient(top,  #a4b357 0%, #609b0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#609b0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a4b357 0%,#609b0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a4b357 0%,#609b0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a4b357 0%,#609b0d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a4b357 0%,#609b0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#609b0d',GradientType=0 ); /* IE6-9 */

}

.v-gridlayout-worker .v-label-unavailable {
    font-weight:        900;
    text-shadow:        none;
    border-radius:      4px;
    background: #dd042c; /* Old browsers */
    background: -moz-linear-gradient(top,  #dd042c 0%, #ad0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd042c), color-stop(100%,#ad0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dd042c 0%,#ad0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dd042c 0%,#ad0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dd042c 0%,#ad0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dd042c 0%,#ad0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd042c', endColorstr='#ad0000',GradientType=0 ); /* IE6-9 */

}

.v-horizontallayout-header .v-textfield {
    border-radius:      3px;
}

.v-horizontallayout-header .v-button {
    margin-left:             8px;
}

.v-horizontallayout-header .v-slot-title{
    text-align:         center;
}

.title {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.v-horizontallayout-header .v-label-title{
    font-size:          28px;
    font-weight:        bold;
    text-decoration: underline;
}

.v-horizontallayout-groupoptions .v-button {
    margin-left:             8px;
}

.v-slot-deletearea {
    text-align:         right;
}

.v-horizontallayout-deletearea,
.create-group-area {
    border:             1px solid;
    border-color:       rgb(170,170,170);
    border-radius:      4px;
}

div.v-app div.v-slot-deletearea div.v-ddwrapper-over-bottom,
div.v-app div.v-slot-deletearea div.v-ddwrapper-over-top,
div.v-app div.v-slot-deletearea div.v-ddwrapper-over-left,
div.v-app div.v-slot-deletearea div.v-ddwrapper-over-right,
div.v-app div.v-slot-deletearea div.v-ddwrapper-over {
    background-color: none;
    border: none;
    padding: 2px 0 2px 2px; 
}

div.v-app div.v-slot-deletearea div.v-ddwrapper-over div.deletearea {
    background-color:   #bcdcff;
    border:             2px solid #1d9dff;
    padding:            11px;
}

.create-group-area {
    padding:    8px;
}

.v-ddwrapper-deletearea {
    padding-right:      0px;
}

.v-horizontallayout-groupoptions .v-textfield {
    border-radius:      3px;
}

.v-horizontallayout-groupoptions .v-label {
    font-size:          16px;
    font-weight:        bold;
}


.v-verticallayout-group {
    min-width:          206px;
}

.v-ddwrapper-grouphead,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-bottom,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-top,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-left,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-right  {
    margin-top: 6px;
    border:             1px solid black;
    border-radius:      4px 4px 0px 0px;
    padding:            4px 8px;
    background: #f6f7f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f7f2 1%, #d3d6c8 17%, #eaede8 79%, #c5ccc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f2), color-stop(17%,#d3d6c8), color-stop(79%,#eaede8), color-stop(100%,#c5ccc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f2', endColorstr='#c5ccc8',GradientType=0 ); /* IE6-9 */
}

div.v-app div.v-slot-grouphead div.v-ddwrapper-over-bottom,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-top,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-left,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-right,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-middle,
div.v-app div.v-slot-grouphead div.v-ddwrapper-over-center {
    background: #f6f7f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f7f2 1%, #85b9d3 17%, #eaede8 79%, #55a4cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f2), color-stop(17%,#85b9d3), color-stop(79%,#eaede8), color-stop(100%,#55a4cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f7f2 1%,#85b9d3 17%,#eaede8 79%,#55a4cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f7f2 1%,#85b9d3 17%,#eaede8 79%,#55a4cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f7f2 1%,#85b9d3 17%,#eaede8 79%,#55a4cc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f7f2 1%,#85b9d3 17%,#eaede8 79%,#55a4cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f2', endColorstr='#55a4cc',GradientType=0 ); /* IE6-9 */
}

.v-ddwrapper-grouphead .v-label-groupname {
    font-size:          18px;
    font-weight:        bold;
    color:              #334444;
    text-shadow:        none;
}

.v-ddwrapper-grouphead .v-label-groupdate {
    font-size:          15px;
    color:              black;
    text-shadow:        none;
    text-align:         center;
}


.v-ddwrapper-groupcontent,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-bottom,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-top,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-left,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-right {
    background-color:   white;
    border-top:         none;
    border-left:        1px solid black;
    border-bottom:      1px solid black;
    border-right:       1px solid black;
    padding:            2px 8px 8px 2px;
    border-radius:      0px 0px 4px 4px;
    margin:             0px;
}

div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-bottom,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-top,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-left,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-right,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-middle,
div.v-app div.v-slot-groupcontent div.v-ddwrapper-over-center {
    background-color:   #bcdcff;
}

.v-horizontallayout-groupcontent {
    width:              100%;
}

input.v-widget.v-textfield[type="text"], .v-filterselect {
    height: 2.1em;
}

.v-button-wrap, .v-disabled:active .v-button-wrap {
    background: #f6f7f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f7f2 1%, #d3d6c8 17%, #eaede8 79%, #c5ccc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f2), color-stop(17%,#d3d6c8), color-stop(79%,#eaede8), color-stop(100%,#c5ccc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f7f2 1%,#d3d6c8 17%,#eaede8 79%,#c5ccc8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f2', endColorstr='#c5ccc8',GradientType=0 ); /* IE6-9 */ 
}



